.about-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #ffffff;
    min-height: 600px;
  }
  
  .about-us-image {
    flex: 1;
    position: relative;
  }
  
  .image-placeholder {
    background-image: url('../../../assets/images/homepage/aboutus.jpeg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    position: relative; /* Allows absolute positioning for the black div */
  }
  
  .contact-info {
    position: absolute;
    bottom: -20px; /* Overflowing outside the green div */
    right: -20px; /* Positioned slightly out of the green div's right border */
    background-color: #333; /* Black background for contact info */
    color: white;
    padding: 20px;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10; /* Ensures it stays above the green div */
  }
  
  .contact-info h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .contact-info p {
    margin: 5px 0;
  }
  
  .about-us-content {
    flex: 1;
    margin: 20px;
    padding-left: 20px;
  }
  
  .about-us-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .about-us-description {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  .about-us-button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: transparent;
    color: #333; /* Black text for button */
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
  }
  