.footer {
    background-color: #494747;
    color: white;
    padding: 40px 50px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .footer-left {
    flex: 1;
  }

  .footer-logo {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between the logo and the text */
  }
  
  .footer-logo-image {
    width: 50px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    background-image: url('../../../assets/images/homepage/logo.png');
    background-position: center;
    background-size: cover;
    border-radius: 5px; /* Optional, if you want rounded corners */
  }
  
  
  .footer-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .footer-description {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .footer-socials {
    display: flex;
    gap: 10px;
  }
  
  .footer-socials a {
    font-size: 20px;
    color: white;
    text-decoration: none;
  }
  
  .footer-middle {
    flex: 1;
  }
  
  .footer-section-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    margin-bottom: 5px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-right {
    flex: 1;
  }
  
  .footer-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  
  .footer-image-placeholder {
    width: 100%;
    padding-top: 100%; /* Ensures square aspect ratio */
    border-radius: 5px;
  }

  .footer-image-topleft {
    background-image: url('../../../assets/images/homepage/footer1.jpeg');
    background-position: center;
    background-size: cover;
  }

  .footer-image-topright {
    background-image: url('../../../assets/images/homepage/footer2.jpeg');
    background-position: center;
    background-size: cover;
  }

  .footer-image-bottomleft {
    background-image: url('../../../assets/images/homepage/footer3.jpeg');
    background-position: center;
    background-size: cover;
  }

  .footer-image-bottomright {
    background-image: url('../../../assets/images/homepage/footer4.jpeg');
    background-position: center;
    background-size: cover;
  }
  
  .footer-bottom {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    border-top: 1px solid #555;
    padding-top: 10px;
  }
  