.customer-feedback {
    padding: 40px;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #ffffff;
    text-align: center;
    min-height: 500px;
  }
  
  .section-title {
    font-size: 28px;
    color: #333;
    margin-bottom: 30px;
  }
  
  .feedback-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    justify-content: center;
  }
  
  .feedback-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .feedback-quote {
    font-size: 20px;
    color: #e57373; /* Red color for the quote */
    margin-bottom: 10px;
  }
  
  .feedback-text {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.6;
  }
  
  .feedback-footer {
    display: flex;
    align-items: center;
  }
  
  .avatar-placeholder {
    background-image: url('../../../assets/images/homepage/mockavatar.png');
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .author-info {
    font-size: 14px;
    color: #888;
  }
  
  .author-name {
    font-weight: bold;
    display: block;
  }
  
  .author-location {
    font-size: 12px;
  }
  